body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
}

ul {
	list-style: none;
	padding-left: 0;
}

/*========== HEADER ===========*/
#header {
	background: #23282d;
	padding-top: 27px;
	padding-bottom: 10px;
}

/*---- Header-top ----*/
#header-top {	
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

#form-search {
	position: relative;
}

#form-search input {
	background: #131619;
	width: 248px;
	color: #909090;
	font-weight: 400;
	font-size: 14px;
	padding: 11px 45px 10px 15px;
	outline: none;
	border: none;
}

#form-search .btn-search {
	position: absolute;
	top: 0px;
	right: 0px;
	background: none;
	border: none;
	color: #a2a1a1;
	padding: 8px 12px;
	outline: none;
}

#form-search .btn-search:hover i{
	color: orange;
	opacity: 0.7;
	transition: 0.25s;
}

/*---- Header-bot ----*/
nav {
	margin-top: 7px;
	border-right: 10px solid #ff2d2d;
}

nav ul {
	margin-bottom: 0;
}

ul#main-menu li a {
	display: block;
	padding: 6px 20px;
	color: #eeeeee;
}

ul#main-menu li:first-child a{
	padding-left: 0;
}

ul#main-menu li:hover a {
	color: #3b7ea5;
	transition: all 0.25s;  
	text-decoration: none;
}

ul#main-menu li.active a{
	color: #3b7ea5;
}

/*========== FEATURED POST =========*/
.wp-featured-post {
	margin-top: 34px;
	margin-bottom: 20px;
}

.box .box-head h3 {
	color: #eeeeee;
	font-weight: 600;
	font-size: 16px;
	display: inline-block;
	background: #23282d;
	text-transform: uppercase;
	padding: 1px 15px;
	margin-bottom: 0px;	
}

.box.featured-post .box-body {
	margin-top: 20px;
}

.box.featured-post .box-body{
	padding-bottom: 30px;
	border-bottom: 1px solid #dadada;
}

ul.list-featured-post {
	margin-bottom: 0px;
}

ul.list-featured-post li {
	flex: 360px 0 1;
}

ul.list-featured-post li a.post-title {
	color: #5f5f5f;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 20px;
	display: block;
}

ul.list-featured-post li a.post-thumb img {
	transition: all 0.25s;
}

ul.list-featured-post li a.post-thumb {
	display: block;
	overflow: hidden;
}
ul.list-featured-post li a.post-thumb:hover img{
	transform: scale(1.05);	
}

/*=========== WP_CONTENT ===========*/
#content {
	flex: 765px;
	padding-right: 15px;
}

#sidebar {
	flex: 375px;
	padding-left: 15px;
}

a.post-thumb {
	display: block;
}
.post-thumb img{
	width: 100%;
	height: auto;
}

.box.new-post .box-head {
	border-bottom: 2px solid #4db2ec;
}

.box.new-post .box-head h3{
	background: #4db2ec;
}

ul.list-post li{
	display: flex;
	margin-bottom: 40px;
}

ul.list-post li a.post-thumb {
	display: block;
	padding-right: 15px;
	flex: 280px;
	overflow: hidden;
}

ul.list-post li a.post-thumb img {
	transition: all 0.25s;
}

ul.list-post li:hover a.post-thumb img {
	transform: scale(1.02);
}

ul.list-post li .more-info {
	padding-left: 15px;
	flex: 472px;
}

ul.list-post li .more-info .post-title a{
	color: #111111;
	font-size: 21px;
	transition: all 0.25s;
}
ul.list-post li:hover .more-info .post-title a {
	color: #4db2ec;
}

ul.list-post li .more-info .post-published{
	font-size: 11px;
	font-weight: 600;
}
ul.list-post li .more-info .post-published a.post-author {
	color: #111111;
	transition: all 0.25s;
}
ul.list-post li:hover .more-info .post-published a.post-author {
	color: #4db2ec;
}
ul.list-post li .more-info .post-published .post-date {
	color: #aaaaaa;
}

ul.list-post li .more-info .post-excerpt {
	font-size: 13px;
	font-weight: 400;
	color: #777777;
	padding: 6px 0px;
	margin-bottom: 0;
}

/*============== SIDEBAR =============*/
/*------- ads ----------*/
#sidebar .part-ads{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 40px;
}

#sidebar .info-ads {
	position: absolute;
	max-width: 278px;
}

#sidebar .part-ads a.thumb-ads {
	display: block;
}

#sidebar .part-ads a.thumb-ads img {
	width: 100%;
	height: auto;
	filter: brightness(25%);
	opacity: 0.9;
}

#sidebar .info-ads h3.title-ads {
	font-size: 28px;
	font-weight: 900;
	color: #f05510;
	text-transform: uppercase;
}

#sidebar .info-ads {
	font-size: 13px;
	font-weight: 400;
	color: #f0f0f0;
}

#sidebar .info-ads a.watch-more {
	text-transform: uppercase;
	display: inline-block;
	color: #f0f0f0;
	padding: 5px 26px;
	background: #0073aa;
}

/*--------- topic ---------*/
.box.top-topic .box-head {
	border-bottom: 1px solid #ff2d2d;
}

.box.top-topic .box-head h3{
	background: #ff2d2d;
	font-size: 16px;
	font-weight: 600;
}

ul.list-topic li a {
	position: relative;
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	padding: 6px 0;
	display: block;
	transition: all 0.25s;
	text-decoration: none;
}

ul.list-topic li:hover a {
	color: #ff2d2d;
}

ul.list-topic li a span.num-post {
	position: absolute;
	top: 4px;
	right: 10px;
}

/*=========== FOOTER ============*/
#footer {
	padding-top: 52px;
	padding-bottom: 75px;
	background: #2e2f30;
	color: #f6f6f6;
}

#footer .box .box-head h3{
	background: none;
	padding-left: 0;
	padding-right: 0;
	font-size: 18px;
}

#footer .box.logo-footer {
	flex: 280px;
	padding-right: 15px;
}

#footer .box.logo-footer .box-head {
	visibility: hidden;
}
#footer .box.about-us {
	flex: 680px;
	padding-right: 180px;
	padding-left: 15px;
}

#footer .box.about-us a {
	color: #4db2ec;
}

#footer .box.follow-us {
	flex: 180px;
	padding-left: 15px;
}

#footer .box .box-body {
	padding-top: 40px; 
	font-size: 14px;
	font-weight: 400;
}

#footer .box.follow-us ul.list-social li {
	margin-left: 10px;
}
#footer .box.follow-us ul.list-social li:first-child {
	margin-left: 0;
}

#footer .box.follow-us ul.list-social li a {
	background: #434648;
	color: #eeeeee;
	padding: 5px 10px;
	transition: all 0.25s;
	display: block;
}

#footer .box.follow-us ul.list-social li:hover a{
	color: #4ca6db;
}

/*=========== COPYRIGHT ============*/
#copyright {
	background: #222527;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}

#copyright p.copyright {
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 7px;
}

#copyright ul.footer-menu {
	margin-bottom: 0;
}

#copyright ul.footer-menu li a {
	color: #f3f3f3;
	padding: 0 13px;
	text-decoration: none;
	transition: all 0.25s;
}

#copyright ul.footer-menu li:hover a{
	color:#4db2ec;
}

#copyright ul.footer-menu li:last-child a {
	padding-right: 0;
}